//main colors
$background-color: #fafbff;
$text-color-main: #424242;
$text-color-secondary: #666666;
$background-color-block: #ffffff;
$box-shadow-color: #c8c9c81a;

//button colors
$button-background: #c9d4ff;
$button-hover: #b2c1ff;
$button-disabled: #efeeff;

//input colors
$input-field: #f2f1f6;
$input-elements: #ababab;

//other colors
$border-color: #d8d8d8;
$hover-element-color: #f2f1f6;

//sizes
$border-radius: 8px;
$transition-speed: 0.3s;

//fonts
$bold: 600;
