@use './variables' as var;
@use './mixins' as mix;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}

body {
  background-color: var.$background-color;
  color: var.$text-color-main;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.layout {
  display: flex;
  min-height: 100vh;
  .mainBlock {
    background-color: var.$background-color;
    width: 70%;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
