@use '../../styles/variables' as var;

.footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &.open {
    display: block;
    .button {
      width: 100%;
      margin-top: 15px;
    }
  }
}

.user {
  display: flex;
  gap: 10px;
  @media (max-width: 430px) {
    display: none;
  }
}

.userInform {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: var.$bold;
}

.userDescription {
  font-size: 12px;
}
