@use '../../styles/variables' as var;
@use '../../styles/mixins' as mix;

.sidebarContainer {
  padding: 20px;
  position: fixed;
  width: 30%;
  .sidebar {
    background-color: var.$background-color-block;
    min-height: 100vh;
    padding: 20px;
    @include mix.card-style;
  }
}
